@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

.task {
    background: #3B3B47;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins';
  }
  
  .task.reminder {
    border-left: 5px solid green;
  }
  
  .task h3 {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p.dayy{
    color: #64f3f6;
    border-radius: 25px;
    background-color: #2B393F;
  }